.intro-section {
    padding: 100px 20px;
    background-color: #6c5ce7; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Color de texto blanco para contrastar con el fondo */
    text-align: center; /* Centra el contenido */
}

.intro-section h1 {
    font-size: 48px; /* Tamaño grande para el título */
    margin-bottom: 20px;
    text-transform: uppercase; /* Convierte el texto del título en mayúsculas */
}

.intro-section p {
    font-size: 24px; /* Tamaño grande para el párrafo */
    margin-bottom: 30px;
}
